<%
	//google api地址
	/*
		https://developers.google.com/maps/documentation/javascript/controls	 
	 */
%>

<%
	var i18n_loading_title = "地圖加載中...";
	var i18n_template1 = "示例1：地址輸入";
	var i18n_template2 = "示例2：選區設置";
%>

<html>
<!-- <script src="http://ditu.google.cn/maps?file=api&v=3&key=AIzaSyBrRBLVg_bH4N0eADAxzPOKCpxi28C_0VQ&sensor=false" type="text/javascript"></script>
 -->
<head>
<title>demo</title>
<link rel="stylesheet" href="${cxt!}/ui/easyui/themes/bootstrap/easyui.css">
<script src="http://maps.google.cn/maps/api/js?language=zh-TW&v=3.exp&key=AIzaSyCoy86qvSNN4A1nEA5Kg-jVdNNjjyVbyFI&libraries=places,drawing,geometry" type="text/javascript"></script>
<script src="${cxt!}/ui/easyui/jquery.min.js" type="text/javascript"></script>
<script src="${cxt!}/ui/easyui/jquery.easyui.min.js" type="text/javascript"></script>
<script src="${cxt!}/ui/easyui/extension/edatagrid/jquery.edatagrid.js" type="text/javascript"></script>
</head>
<body>
	<div  class="easyui-layout" data-options="fit:true">   
	    <div data-options="region:'west',split:true,minWidth:180" style="width:400px;">
	    	<div  class="easyui-accordion" data-options="fit:true,border:false" >   
			    <div title="${i18n_template1}" data-options="" >   
			    	 <div class="form-group">
						<div class="col-sm-12" >
							<input type="text" id="autocomplete" style="width:100%">
						</div>
					</div>
					<div class="form-group" >
						<div class="col-sm-4" >
							门牌
						</div>
						<div class="col-sm-8" >
							<input class="field" id="street_number"
              					disabled="true">
						</div>
					</div>
					<div class="form-group" >
						<div class="col-sm-4" >
							街道
						</div>
						<div class="col-sm-8" >
							<input class="field" id="route"
              disabled="true">
						</div>
					</div>
					<div class="form-group" >
						<div class="col-sm-4" >
							城市
						</div>
						<div class="col-sm-8" >
							<input class="field" id="locality"
              disabled="true"></input>
						</div>
					</div>
					<div class="form-group" >
						<div class="col-sm-4" >
							State
						</div>
						<div class="col-sm-8" >
							<input class="field"
              id="administrative_area_level_1" disabled="true"></input></td>
        <td class="label">
						</div>
					</div>
					<div class="form-group" >
						<div class="col-sm-4" >
							Country
						</div>
						<div class="col-sm-8" >
							<input class="field"
              id="country" disabled="true">
						</div>
					</div>
					<div class="form-group" >
						<div class="col-sm-4" >
							Zip code
						</div>
						<div class="col-sm-8" >
							<input class="field" id="postal_code"
              disabled="true">
						</div>
					</div>
			    </div>   
			    <div title="${i18n_template2}"  >   
			        <table id="areadg"></table>     
			    </div>   
			    <div title="用戶數據">   
			        <table id="userdg"></table>  
			    </div>   
			</div>  
	    </div>   
	    <div data-options="region:'center'" id="map" >
	    </div>   
	</div>  
</body>
<script type="text/javascript">
var map = null;
var lat = 22.28218;
var lng = 114.1577;
$(function(){
	$.messager.progress({
		title:"${i18n_loading_title}"
	});
	var mapProp = {
	  center:new google.maps.LatLng(lat, lng),
	  zoom:18,
	  mapTypeId:google.maps.MapTypeId.ROADMAP,
	  disableDefaultUI: true
	  };
	map=new google.maps.Map(document.getElementById("map")
			  ,mapProp);
	initAutocomplete();
	
	
    genuserdata();
	$('#userdg').datagrid({    
	    data:userData,    
	    fit:true,
	    rownumbers:true,
	    border:false,
	    columns:[[    
	        {field:'name',title:'姓名',width:60},    
	        {field:'area',title:'選區',width:40},    
	        {field:'lat',title:'維度',width:70}, 
	        {field:'lng',title:'經度',width:70}, 
	        {field:'xianshi',title:'顯示',width:20,formatter:function(value,row,index){
	        	return '<input type="checkbox" onchange="showOrHidemarker(this,'+index+')">' ;
	        }}, 
	    ]]    
	});
	
	genareadata();
	$('#areadg').edatagrid({    
	    data:areaData,    
	    fit:true,
	    border:false,
	    rownumbers:true,
	    columns:[[    
	        {field:'area',title:'選區',width:80, editor:'text'},    
	        {field:'color',title:'顏色',width:80, editor:'text'},
	        {field:'xianshi',title:'顯示',width:40,formatter:function(value,row,index){
	        	return '<input type="checkbox" id="xianshi'+index+'" onchange="showOrHidepolygon(this,'+index+')">' ;
	        }}, 
	        {field:'huaquyu',title:'畫區域',width:60,formatter:function(value,row,index){
	        	return '<input type="checkbox" targetxianshiId="xianshi'+index+'" name="huaquyu" onchange="showOrHidedrawingManager(this,'+index+')">' ;
	        }}, 
	    ]]    
	});
	$.messager.progress("close");
});


var userData = [];
function genuserdata() {
	var firstname=["李","西门","沈","张","上官","司徒","欧阳","轩辕","林","劉"];
    var nameq=["彪","巨昆","锐","翠花","小小","撒撒","熊大","宝强","春花","秋月","夏日","冬天"];
	for(var i = 0;i<1000;i++) {
		var xingxing = firstname[Math.floor(Math.random() * (firstname.length))];
        var mingming = nameq[Math.floor(Math.random() * (nameq.length))];
        var xingming = xingxing+mingming;
        var data = {
    			name:xingming,
    			code:"會員"+(i+1),
    			lng:lng + (0.01 * (Math.random()*2 -1)),
    			lat:lat + (0.01 * (Math.random()*2 -1))
    		};
		var marker = new google.maps.Marker({
		    position: {lat: data.lat, lng:  data.lng},
		    title: data.name,
		    icon:'${cxt!}/ui/easyui/themes/icons/man.png',
		    map:map
		  });
		data.marker=marker;
		userData.push(data);
	}
}

var areaData = [];
function genareadata() {
	areaData.push({
		area:"選區A",
		color:"#70c24a"
	});
	areaData.push({
		area:"選區B",
		color:"#ff6161"
	});
	areaData.push({
		area:"選區C",
		color:"#0088cc"
	});
}


function showOrHidemarker(thisObj,index){
	if(thisObj.checked) {
		userData[index].marker.setMap(map);
	}else {
		userData[index].marker.setMap(null);
	}
}

function showOrHidepolygon(thisObj,index){
	if(areaData[index].polygon) {
		$.each(areaData[index].polygon,function(){
			if(thisObj.checked) {
				this.setMap(map);
			}else {
				this.setMap(null);
			}
		})
	}
}

function showOrHidedrawingManager(thisObj,index){
	if(!areaData[index].drawingManager) {
		var drawingManager = new google.maps.drawing.DrawingManager({
		    drawingMode: google.maps.drawing.OverlayType.POLYGON,
		    drawingControl: false,
		    editable : true,
		    drawingControlOptions: {
		      position: google.maps.ControlPosition.TOP_CENTER,
		      drawingModes: [
		        google.maps.drawing.OverlayType.POLYGON,
		      ]
		    },
		    polygonOptions: {
		      fillColor: areaData[index].color,
		      fillOpacity: 0.5,
		      strokeColor:areaData[index].color,
		      strokeWeight: 2,
		      clickable: true,
		      editable: true,
		      zIndex: 1
		    }
		  });
		  drawingManager.setMap(map);
		  areaData[index].drawingManager = drawingManager;
		  
		  google.maps.event.addListener(drawingManager, 'polygoncomplete', function(polygon) {
			  if(!areaData[index].polygon) {
				  areaData[index].polygon = [];
			  }
			  areaData[index].polygon.push(polygon);
			  polygon.addListener('click', showpolygoninfo);
			  polygon.areaname = areaData[index].area
			  polygon.areaid = (new Date()).getTime();
			});
	}
	if(thisObj.checked) {
		areaData[index].drawingManager.setMap(map);
		$("#"+$(thisObj).attr("targetxianshiId"))[0].checked = true;
	}else {
		areaData[index].drawingManager.setMap(null);
	}
}

function showpolygoninfo(event,areaname) {
	infoWindow = null;
	if(this.infoWindow) {
		infoWindow = this.infoWindow;
	}else {
		infoWindow = new google.maps.InfoWindow;
		this.infoWindow = infoWindow;
	}
	
	console.log(this);	
	var vertices = this.getPath();
	var thisobj = this;
	  var contentString = '<b>所屬選區：'+this.areaname+'</b><a href="javascript:void(0)" onclick="deleteArea(\''+this.areaid +'\')">刪除</a><br>' +
	      '<b>擁有會員： </b> <br>';
	  
	  // Iterate over the vertices.
	 	$.each(userData,function(){
	 		if(google.maps.geometry.poly.containsLocation(this.marker.position, thisobj)) {
	 			contentString += "&nbsp;&nbsp;" + this.name
			}
	 	})

	  // Replace the info window's content and position.
	  infoWindow.setContent(contentString);
	  infoWindow.setPosition(event.latLng);

	  infoWindow.open(map);
}

function deleteArea(_id){
	$.each(areaData,function(){
		var thisobj = this;
		var polygons = this.polygon;
 		if(polygons) {
 			$.each(polygons,function(i){
 				if(this.areaid == _id) {
 					Array.remove(polygons,i);
 					this.setMap(null);
 					if(this.infoWindow) {
 						this.infoWindow.setMap(null);
 					}
 					return false;
 				}
 			}) 
 		}
 	})
}

Array.remove = function(array, from, to) {  
	  var rest = array.slice((to || from) + 1 || array.length);  
	  array.length = from < 0 ? array.length + from : from;  
	  return array.push.apply(array, rest);  
	};  

var placeSearch, autocomplete;
var componentForm = {
  street_number: 'short_name',
  route: 'long_name',
  locality: 'long_name',
  administrative_area_level_1: 'short_name',
  country: 'long_name',
  postal_code: 'short_name'
};

function initAutocomplete() {
  // Create the autocomplete object, restricting the search to geographical
  // location types.
  autocomplete = new google.maps.places.Autocomplete(
      /** @type {!HTMLInputElement} */(document.getElementById('autocomplete')),
      {types: ['geocode']});

  // When the user selects an address from the dropdown, populate the address
  // fields in the form.
  autocomplete.addListener('place_changed', fillInAddress);
  
}

// [START region_fillform]
function fillInAddress() {
  // Get the place details from the autocomplete object.
  var place = autocomplete.getPlace();

  for (var component in componentForm) {
    document.getElementById(component).value = '';
    document.getElementById(component).disabled = false;
  }

  // Get each component of the address from the place details
  // and fill the corresponding field on the form.
  for (var i = 0; i < place.address_components.length; i++) {
    var addressType = place.address_components[i].types[0];
    if (componentForm[addressType]) {
      var val = place.address_components[i][componentForm[addressType]];
      document.getElementById(addressType).value = val;
    }
  }
}
// [END region_fillform]

// [START region_geolocation]
// Bias the autocomplete object to the user's geographical location,
// as supplied by the browser's 'navigator.geolocation' object.
function geolocate() {
  if (navigator.geolocation) {
    navigator.geolocation.getCurrentPosition(function(position) {
      var geolocation = {
        lat: position.coords.latitude,
        lng: position.coords.longitude
      };
      var circle = new google.maps.Circle({
        center: geolocation,
        radius: position.coords.accuracy
      });
      autocomplete.setBounds(circle.getBounds());
    });
  }
}
// [END region_geolocation]


</script>
</html>